@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/style.css" rel="stylesheet" />
<div class="container">
    <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>

            <div class="card-body">
                <h4 class="title text-center mt-4">
                    Login into account
                </h4>
                <form class="form-box px-3">
                    
                    <div class="form-input">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input type="email" name="" placeholder="Email Address" tabindex="10" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fa fa-key"></i></span>
                        <input type="password" name="" placeholder="Password" required>
                    </div>

                    <div class="form-input">
                        <span><i class="fa fa-key"></i></span>
                        <input type="password" name="" placeholder="Password" required>
                    </div>

                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cb1" name="">
                            <label class="custom-control-label" for="cb1">Remember me</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-block text-uppercase">
                            Login
                        </button>
                    </div>

                 

                    <div class="text-center mb-3">
                        or login with
                    </div>

                    <div class="row mb-3">
                        <div class="col-4">
                            <a href="#" class="btn btn-block btn-social btn-facebook">
                                facebook
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="#" class="btn btn-block btn-social btn-google">
                                google
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="#" class="btn btn-block btn-social btn-twitter">
                                twitter
                            </a>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="text-center mb-2">
                        Don't have an account?
                        <a asp-action="Login" class="register-link">
                            Login here
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>