<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="table-style.css" rel="stylesheet">
    <title>Table</title>
</head>
<body>
    <table>
        <colgroup>
            <col span="2" style="background-color:#f9ee99">
            <col style="background-color:#CCCCFF">
            <col style="background-color:#FFBBBB">
            <col style="background-color:#AAFFCC">
            <col style="background-color:#FFB9F2">
        </colgroup>
        <tr>
            <th colspan="2">ASPECT</th>
            <th>SIMPLE</th>
            <th>PROGRESSIVE</th>
            <th>PERFECT</th>
            <th>PERFECT</th>
        </tr>
        <tr>
            <td class="bold" colspan="2" rowspan="2">MEANING</td>
            <td>a common aspect</td>
            <td>a process</td>
            <td>priority</td>
            <td>priority + process</td>
        </tr>
        <tr class="bold">
            <td>When?</td>
            <td>At what time?</td>
            <td>By what time?</td>
            <td>Since what time? How long?</td>
        </tr>
        <tr class="italic">
            <td class="bold" colspan="2">Period of time</td>
            <td>usually, often ,always, seldom, every day (week,month,year)</td>
            <td>now, at the moment</td>
            <td>ever, never, just, already, not..yet, by 3 p.m.</td>
            <td>since 3 p.m,for a long time, for a month</td>

        </tr>
        <tr>
            <td rowspan="3">Present</td>
            <td>+</td>
            <td><span class="bold">V</span>/<span class="bold">V</span><sub>s</sub></td>
            <td>am/is/are + <span class="bold">V</span><sub>ing</sub></td>
            <td>have/has + <span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>3</sub></td>
            <td>have/has + been + <span class="bold">V</span><sub>ing</sub></td>
        </tr>
        <tr>
            <td>?</td>
            <td>do/does + <span class="bold">V</span></td>
            <td>inversion</td>
            <td>inversion</td>
            <td>inversion</td>
        </tr>
        <tr>
            <td>-</td>
            <td>do/does + not + <span class="bold">V</span></td>
            <td>am/is/are + not + <span class="bold">V</span><sub>ing</sub></td>
            <td>
                have/has + not + <span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>3</sub>
            </td>
            <td>have/has + not + been + <span class="bold">V</span><sub>ing</sub></td>
        </tr>
        <tr class="italic">
            <td class="bold" colspan="2">Period of time</td>
            <td>yesterday, last week (month,year), long ago</td>
            <td>yesterday at 3p.m., yesterday from 6 till 7, when you came</td>
            <td>yesterday at 3p.m., before some time in the past</td>
            <td>yesterday at 3p.m., for some time in the past</td>
        </tr>
        <tr>
            <td rowspan="3">Past</td>
            <td>+</td>
            <td><span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>2</sub></td>
            <td>was/were + <span class="bold">V</span><sub>ing</sub></td>
            <td>had + <span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>3</sub></td>
            <td>had + been + <span class="bold">V</span><sub>ing</sub></td>
        </tr>
        <tr>
            <td>?</td>
            <td>did + <span class="bold">V</span></td>
            <td>inversion</td>
            <td>inversion</td>
            <td>inversion</td>
        </tr>
        <tr>
            <td>-</td>
            <td>did + not + <span class="bold">V</span></td>
            <td>was/were + not + <span class="bold">V</span><sub>ing</sub></td>
            <td>had + not + <span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>3</sub></td>
            <td>had + not + been + <span class="bold">V</span><sub>ing</sub></td>
        </tr>
        <tr class="italic">
            <td class="bold" colspan="2">Period of time</td>
            <td>tomorrow, next week(month,year)</td>
            <td>tomorrow at 3 p.m, tomorrow from 6 toll 7, when you come</td>
            <td>tomorrow by 3 p.m, before some time in the future</td>
            <td>tomorrow since 3 p.m, for some time in the future</td>
        </tr>
        <tr>
            <td rowspan="3">Future</td>
            <td>+</td>
            <td>will + <span class="bold">V</span></td>
            <td>will + be + <span class="bold">V</span><sub>ing</sub></td>
            <td>will + have + <span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>3</sub></td>
            <td>will + have + been + <span class="bold">V</span><sub>ing</sub></td>
        </tr>
        <tr>
            <td>?</td>
            <td>inversion</td>
            <td>inversion</td>
            <td>inversion</td>
            <td>inversion</td>

        </tr>
        <tr>
            <td>-</td>
            <td>won't + <span class="bold">V</span></td>
            <td>won't + be + <span class="bold">V</span><sub>ing</sub></td>
            <td>won't + have + <span class="bold">V</span><sub>ed</sub>/<span class="bold">V</span><sub>3</sub></td>
            <td>won't + have + been + <span class="bold">V</span><sub>ing</sub></td>
        </tr>

    </table>
</body>
</html>