@model AddProductViewModel
@{
    var categories = ViewData["Categories"] as List<Category>;
    var tags = ViewData["Tags"] as List<Tag>;
}


@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

<form asp-controller="Product" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Select Category:</label>
        <select asp-for="CategoryId" class="form-control" asp-items="new SelectList(categories, nameof(Category.Id), nameof(Category.Name))">
            
            <option value="">-- Select --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="TagIds">Select Tags:</label>
        <select asp-for="TagIds" class="form-control" asp-items="new SelectList(tags, nameof(Tag.Id), nameof(Tag.Name))" multiple>

            <option value="">-- Select --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
</form>